.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .loading {
    animation: loading-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.friend-form, .login-form {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  width: 30%;
  align-items: center;
}

button{
  width: 30%;
}

Link {
  text-decoration: none;
  color: lightseagreen;
}

.app-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}

.friends-list{
  display: flex;
  flex-flow: row wrap;
  width: 90%;
}

.friend{
  width: 40%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 4%;
  justify-content: center;
}



